  
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta email="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Name E-mail</title>
</head>
<body>
    <br>
    <form method="POST" action="nameEmail">
        <p>Informe seu nome:</p>
        <label for="name"></label> <input type = "text" name = "nome" id="nome" />
        <p>Informe seu e-mail:</p>
        <label for="email"></label> <input type = "text" name = "email" id="email" />
        <input type="submit" value="Enviar"/>
    </form>
</body>
</html>